<div style="background-image: url('../../assets/816149.jpg'); background-size: cover; background-repeat: no-repeat; height: 1000px; position: relative;">
    <div style="position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); width: 380px;">
        <h1 style="color: white; width: 416px; margin-left: 26px;">ACCEUIL TCT WEB APP</h1>
        <div style="display: flex;">
            <h3 style="position: relative; cursor: pointer; left: 10%; color: white;" (click)="onNavigate('connexion')">Connexion</h3>
            <h3 style="position: relative; cursor: pointer; right: -40%; color: white;" (click)="onNavigate('enregistrement')">Inscription</h3>
        </div>
    </div>
</div>
