<head> 
    <script src="../connexion/connexion.component.ts"></script>     
    <title>Login page</title>     
    <link rel="stylesheet" href="../connexion/connexion.component.scss"> 
    <link rel="stylesheet" href="
https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="
sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<div class="spinner-border text-success" role="status" *ngIf="loading" style="position: absolute; top: 50%; left: 50%;">
    <span class="sr-only">Loading...</span>
</div> 
<section style="height: 1000px; background-image: url('../../assets/terrain%20connexion.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <label *ngIf="!loading" style="position: absolute; top: 50%; left: 46%; color: #ffffff;">Mon Compte TCT</label>
    <label *ngIf="!loading" style="position: absolute; top: 53%; left: 37%; color: #ffffff;">Connectez vous à votre compte pour accéder à toutes les fonctionnalités</label>
    <form [formGroup]="connexionForm" *ngIf="!loading" style="position: relative; top: 65%; width: 500px; left: 43%;">
        <div class="form-group" style="width: 400px;">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="email" formControlName="email" aria-describedby="emailHelp" placeholder="Enter email" style="width: 300px;"/>
        </div>
        <div class="form-group" style="position: relative; left: 1.5%; width: 400px;">
            <label for="exampleInputPassword1" style="margin-left: -9px;">Password</label>
            <input type="password" class="form-control" id="password" formControlName="password" placeholder="Password" style="width: 300px; margin-left: -9px;"/>
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1"/>
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-primary" (click)="onLogin()" [disabled]="connexionForm.invalid">Submit</button>
        <p>{{ errorMessage }}</p>
    </form>
</section>
